<form class="formClass">

    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select name="category" placeholder="category" >
            <mat-option></mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <mat-select name="brand" placeholder="brand" >
            <mat-option></mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Origin</mat-label>
        <mat-select name="origin" placeholder="origin" >
            <mat-option></mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Price Per Kg</mat-label>
        <input matInput type="number" name="pricePerKg" >
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Price Per Liter</mat-label>
        <input matInput type="number" name="pricePerLiter">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Price Per 100gr</mat-label>
        <input matInput type="number" name="pricePer100gr" >
    </mat-form-field>



    <button mat-raised-button color="accent" type="submit">Apply Filters</button>

</form>
