<div class="container">
  <div class="t">
    <app-header></app-header>
  </div>

  <mat-sidenav-container class="sidenav-container">

    <!-- Sidebar -->
    <mat-sidenav mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <!-- Main Content Area -->
    <mat-sidenav-content>
      <div class="content-area">
        <!-- Insert your main content here-->
        <app-home></app-home>
      </div>

        <app-footer></app-footer>

    </mat-sidenav-content>    
  </mat-sidenav-container>
</div>
