<mat-sidenav-container class="sidebar-container">

  <mat-sidenav mode="side" opened="true">
    <div class="logo">
      <img src="../../../assets/images/NgMarketPlace.png" alt="">
    </div>
  
      <!-- Favourites -->
      <div class="sidebar-section">
        <h3>Favourites</h3>
        <!-- Short preview of favourites -->
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Your favourite products
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- List of categories -->
              <mat-list>
                <mat-list-item >
                  <!-- Your category item template -->
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
      </div>
  
      <!-- Categories Quicklinks -->
      <div class="sidebar-section">
        <h3>Categories</h3>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Browse our categories
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- List of categories -->
            <mat-list>
              <mat-list-item >
                <!-- Your category item template -->
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
  
      <!-- Recent Products Visited -->
      <div class="sidebar-section">
        <h3> Recent Products Visited</h3>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               History of recent products 
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- List of recently visited products -->
            <mat-list>
              <mat-list-item >
                <!-- Your product item template -->
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    
    </mat-sidenav>
  
  </mat-sidenav-container>
  