<footer class="footer-container">

    <div class="inner">
        <div class="social-links">
            <a href="#"><img src="../../../assets/images/iconmonstr-facebook-3.svg" alt=""></a>
            <a href="#"><img src="../../../assets/images/iconmonstr-instagram-11.svg" alt=""></a>
            <a href="#"><img src="../../../assets/images/iconmonstr-linkedin-3.svg" alt=""></a>
            <a href="#"><img src="../../../assets/images/iconmonstr-twitter-3.svg" alt=""></a>
        </div>
        <div class="info">
            <div class="contact-info">
                <mat-icon>email</mat-icon> contact@example.com
                <mat-icon>phone</mat-icon> +1 (123) 456-7890
            </div>
            <div class="address">
                123 Main St., City, Country, 45678
            </div> 
            <div class="lcc">
                LCC Number: ABC-12345
            </div>
        </div>
        <div class="help-section">
            <button mat-button>FAQ</button>
            <button mat-button>Contact Us</button>
          </div>
    </div>
</footer>
