@import '../../../styles.scss';

.footer-container {
    background-color: $tertiaryDark;
    color: #cfcfcf;
    position: fixed;
    bottom: 0;
    width: 100%;

.inner{
    background-color: transparent;
    display: flex;
    padding: 1.5%;
    justify-content: space-around;
    width: 80%;
}
    a {
        color: inherit;
        &:hover {
            color: #fff;
        }
    }

    .social-links {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        margin-bottom: 1rem;
        
        a {
            color: #fff;
        }
    }

    .contact-info, .address, .lcc, .help-section {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;
        margin-bottom: 0.5rem;

        mat-icon {
            font-size: 1.2rem;
        }
    }
}
